<%- await include(`${componentPath}head.ejs`, { title, description, author, })  %>
  <%- await include(`${componentPath}includeCss.ejs`, { inlineCssList, externalCssList, isProduction, })  %>
  <body class='flex flex-col'>

    <%- await include(`${componentPath}nav.ejs`)  %>
    <%- await include(`${componentPath}notification.ejs`)  %>
    <div class='section1 min-h-80 flex flex-col text-left text-black md:flex items-center justify-center flex-grow p-16'>
     <div class='font-bold text-3xl max-w-lg bg-gray-400 p-6 rounded shadow-xl max-w-4xl w-full'>
        <div id='memoContentWrap' class='w-full'>
        </div>
        <h2 class='text-center mb-2'>MY PAGE</h2>
        <%- await include(`${componentPath}profile.ejs`)  %>
      </div>

    </div><!-- section1 -->

    <div class='section1 min-h-80 flex flex-col text-left text-black md:flex items-center justify-center flex-grow p-16'>
      <%- await include(`${componentPath}timer.ejs`)  %>
      <%- await include(`${componentPath}editor.ejs`)  %>
    </div>

    <%- await include(`${componentPath}loading.ejs`)  %>
    <%- await include(`${componentPath}modal.ejs`)  %>
    <div id='hiddenForTailwindByJs' class='hidden w-full h-96 p-1'></div>
  </body>
  <%- await include(`${componentPath}includeJs.ejs`, { inlineScriptList, externalScriptList, isProduction, })  %>


